{% set classes = [
    'btn',
    variant =='arrow'?'btn-arrow':'btn-primary'
] %}

{% set link_content %}
    {{ text }}
    {% if variant == 'arrow' %}
        <i class="fa-solid fa-arrow-right"></i>
    {% endif %}
{% endset %}


{% set cta_attributes = create_attribute().addClass(classes) %}
{#  .setAttribute('href', url) #}
{# <a{{ cta_attributes}}>{{ text }}</a>#}

{{ link(link_content, url | striptags, cta_attributes)}}
